header.first-header {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding-bottom: 35px;

}

header > section.top-side {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 25px;
    justify-content: space-between;
    align-items: center;
    font-family:Archivo;
}

div.flex > h4 {
    display: flex;
    gap: 10px;
    align-items: center;
    color: white;
}

div.flex > h4:hover {
    color: #1D4ED8;
}



p.menu > img {
    height: 10px;
}


ul {
    display: flex;
    list-style: none;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 17px;
    color: white;
    border-top : 1px solid rgba(255, 255, 255, 0.166) ;
    border-bottom: 1px solid rgba(255, 255, 255, 0.166) ;
}

li > a {
    color: white;
    text-decoration: none;
    padding: 7px;
}

li > a:hover {
    color: #1D4ED8 ;
    background-color: white;
    border-radius: 5px;
}

